iframe {
    width: 100%;
    height: 100%;
}

/* 设置字体头像 */
.text-avatar {
    width: 33px;
    height: 33px;
    display: inline-block;
    background-color: #009688;
    line-height: 33px;
    text-align: center;
    border-radius: 50%;
    font-size: 20px;
    color: #fff;
    position: relative;
    top: 3px;
    margin-right: 8px;
    display: none; /*先让字体头像隐藏*/
}

/*iconfont字体图标*/
.iconfont {
    margin: 0 8px;
}

/*子菜单对于的图标样式*/
.layui-icon {
    margin: 0 8px;
    margin-left: 25px;
}

/*侧边栏 用户头像和欢迎区域*/
.userinfo {
    display: block;
    height: 60px;
    text-align: center;
    line-height: 60px;
}

.userinfo .welcome {
    color: #fff;
    font-size: 14px;
}