html,body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    background: url(/assets/images/login_bg.jpg) no-repeat;
    background-size: cover;
}

.logo {
    padding-top: 30px;
}

.login, .reg {
    width: 400px;
    height: 310px;
    background-color: #fff;
    /*设置盒子居中*/
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.reg {
    display: none;
}

.form-title {
    text-align: center;
    margin: 18px 0;
}

.form-area {
    padding: 0 30px;
}

.goto-reg {
    display: flex;
    justify-content: flex-end;
}

.layui-form-item {
    position: relative;
}

.layui-form-item .layui-icon {
    position: absolute;
    left: 8px;
    top: 10px;
}

.layui-input {
    padding-left: 30px;
}
